# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

*.swp

Broadsheet.ie/Images.xcassets/down4-25.imageset/764-arrow-down@2x.png

Broadsheet.ie/Images.xcassets/down4-25.imageset/764-arrow-down.png

Broadsheet.ie/Images.xcassets/down4-25.imageset/down.png

Broadsheet.ie/Images.xcassets/up4-25.imageset/763-arrow-up.png

Broadsheet.ie/Images.xcassets/up4-25.imageset/763-arrow-up@2x.png

Broadsheet.ie/Images.xcassets/up4-25.imageset/up.png

Broadsheet.ie/Images.xcassets/842-chat-bubbles.imageset/chat.png

Broadsheet.ie/Images.xcassets/842-chat-bubbles.imageset/842-chat-bubbles@2x.png

Broadsheet.ie/Images.xcassets/842-chat-bubbles.imageset/842-chat-bubbles.png

Broadsheet.ie/Supporting Files/BSConstants.h
